@tailwind base;

@tailwind components;

@tailwind utilities;
@layer components {
    .btn-blue {
      @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
    }

    .button {
        @apply px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2;
    }
}


@custom-media --md (width >=640px);
@custom-selector : --heading h1,
h2,
h3,
h4,
h5,
h6;
:--heading {
    font-size: 125%;
    @media (--md) {
        font-size: 150%;
    }
}