@layer components {
  input,
  button,
  select,
  textarea {
    @apply outline-none;
  }
  input[type='text'],
  input[type='password'],
  input[type='search'],
  input[type='number'],
  input[type='url'],
  input[type='email'],
  input[type='phone'],
  select {
    @apply block w-full p-2.5
        bg-gray-50 
        border border-gray-400 
        text-gray-900 
        rounded-lg 
        ring-0
        focus:ring-2
        focus:ring-opacity-30
        focus:ring-blue-400 
        focus:border-blue-400 
        transition-all duration-700
         !important;
  }
  input[type='checkbox'] {
    @apply bg-gray-50 border-gray-300 focus:ring-0 focus:ring-blue-300 h-4 w-4 rounded;
  }
  input[type='checkbox'] + label,
  input[type='radio'] + label {
    @apply font-medium text-gray-900;
  }
  .btn-blue {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }

  .button {
    @apply bg-blue-500 ring-0 text-white font-bold py-2 px-4 rounded transition-all duration-700  transform
        hover:bg-blue-700 hover:scale-110 hover:rotate-12;
  }
  .button[disabled] {
    @apply opacity-50 cursor-not-allowed pointer-events-none;
  }
  .submit {
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center;
  }
  .label {
    @apply text-sm font-medium text-gray-900 block mb-2;
  }
}
/* disabled:bg-gray-300 disabled:text-gray-500 disabled:cursor-not-allowed */
