body{width:500px;}
a{text-decoration:none;color:#00f;}
p{word-spacing:20px;}
h1{font-size:16px;font-weight:normail;line-height:24px;padding:0 0 5px;border-bottom:1px solid #ccc;margin:0 0 5px;color:#666;}