html{
	zoom: 0.75;
}
.Nav_nav__3wFB0,
.Search_search__3tl_B,
.jsx-2211446375,
.Content_right__IdsQY {
    display: none !important;
}

.Content_center__z9WQY,
.Content_content__eIxcI,
.DicTab_content__V2ht9 {
    width: auto !important;
    margin: 0px !important;
}

main {
    padding: 0px !important;
    overflow-y: auto !important;
    height: 100% !important;
}

.record.jsx-247017883 {
    display: none;
}

.FoldBox_fold__1GZ_2 {
    padding: 10px !important;
}

.Mean_sentence__lNPYi {
    font-weight: 100 !important;
    font-size: 12px !important;
}

.Mean_definition__3yuL7 {
    margin: 0 !important;
}

.Nav_nav__2nyKQ {
    min-width: auto !important;
}

.DicTab_tab__q1zCE,
.FoldBox_fold__j7cgz {
    position: sticky !important;
    top: 0;
}
